In [1]:
path = sqlContext.sql("select url from nasa where date is not null").rdd.map(tuple)

In [2]:
path_arr = path.collect()

In [3]:
path_arr[:10]

In [4]:
base = []
for x in path_arr:
  if 'GET' in x[0]:
    temp = x[0].split(' ')[1]
    if temp != '' and '/' in temp:
      base.append(x[0].split(' ')[1].split('/')[1])

In [5]:
baseCount = {}
for row in base:
  if row in baseCount:
    baseCount[row] += 1
  else:
    baseCount[row] = 1

In [6]:
from operator import itemgetter
filter = {}
for i in baseCount:
  if baseCount[i] > 20:
    filter[i] = baseCount[i]

In [7]:
filter

In [8]:
from operator import itemgetter
from pyspark.sql import Row
list = []
for key in filter:
  list.append([key, filter[key]])
list = sorted(list, key=itemgetter(1))
list = map(lambda x: Row(Base=x[0],Count=x[1]), list)

In [9]:
dataFrame = sqlContext.createDataFrame(sc.parallelize(list))
dataFrame.registerTempTable("chosen")

In [10]:
display(sqlContext.sql("select * from chosen"))